.html {
    font-size: 16px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.areas {
    width: 400px;
    margin: 0 auto;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
}   

.logo-image {
    max-width: 300px;
}
